body{
  background-color:black;
  color:#00FF00;
  font-family: COURIER;
  font-size: 13px;
  overflow:none;
}
::-webkit-scrollbar { 
    display: none; 
}
input, textarea{
  background-color: black;
  border: #00FF00 1px solid;
  color: #00FF00;
  resize: none;
}
a{
  color: #00FF00;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
p{
  display: inline;
}
strong{
  font-size: 13px;
  font-weight: bold;
}
#sound{
  display: none;
}
.red{
  color: red;
}
@media only screen 
and (max-width : 420px) {
  #content{
    height: 100px;
  }
}
@media only screen 
and (min-width : 420px) {
  #content{
    height: 500px;
  }
}
